<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Navegação</h4>
        <ul>
          <li><a type="button" routerLink="">Home</a></li>
          <li><a type="button" routerLink="/feiras">Feiras</a></li>
          <li><a type="button" routerLink="/exposicoes">Exposições</a></li>
          <li><a type="button" routerLink="/artistas">Artistas</a></li>
          <li><a type="button" routerLink="/editorial">Editorial</a></li>
        </ul>
      </div>
      <div class="footer-col" id="none">
        <h4>Gestão e Atendimento</h4>
        <ul>
          <li><a type="button" href="#">Quem somos</a></li>
          <li><a type="button" href="#">Fale conosco</a></li>
          <li><a type="button" href="#">Transparência</a></li>
          <li><a type="button" href="#">Conselhos</a></li>
        </ul>
      </div>
      <div class="footer-col" id="none">
        <h4>Mais</h4>
        <ul>
          <li><a type="button" href="#">Compras e contratações</a></li>
          <li><a type="button" href="#">Política de privacidade</a></li>
          <li><a type="button" href="#">Termos e condições</a></li>
          <li><a type="button" href="#">Tire suas dúvidas</a></li>
        </ul>
      </div>
      <div class="footer-col" >
        <h4>Redes Sociais</h4>
        <div class="social-links">
          <a type="button" href="#"><i class="fab fa-facebook-f"></i></a>
          <a type="button" href="#"><i class="fab fa-twitter"></i></a>
          <a type="button" href="#"><i class="fab fa-instagram"></i></a>
          <a type="button" href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="social-links">
          <a type="button" href="#"><i class="fab fa-whatsapp"></i></a>
          <a type="button" href="#"><i class="fab fa-reddit"></i></a>
          <a type="button" href="#"><i class="fab fa-tumblr"></i></a>
          <a type="button" href="#"><i class="fab fa-deviantart"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
