<article>


  <section class="atualFeiraSection">

    <h1> Confira os principais eventos da próxima feira </h1>

    <h2> Ocorrerá no dia 12/12. Não perca! </h2>


  </section>

  <section class="firstContentSection">

    <h1> O que poderá encontrar? </h1>

    <div class="contentDiv">
      <div class="text">
        <h2> Expressões artísticas de dança! </h2>

        <p> Venha assistir a apresentação do grupo escolar Corpo Composto.

          "O Corpo Composto é um projeto sobre gentes, seus dramas, histórias e sonhos. E exatamente por ter esse horizonte,
          nos aproximamos do público, sejam jovens ou adultos, nos conectamos com o adolescente que vive dentro de cada um."
        </p>

        <a routerLink=""> Saiba mais. </a>

      </div>
      <div class="image">
        <img src="assets/arteDance.png" alt="Mulheres dançando">
      </div>

    </div>



  </section>

  <section class="secondContentSection">

    <div class="contentDiv">

      <div class="image">

        <img src="assets/arteRua.jpg" alt="Mulheres dançando">

      </div>


      <div class="text">

        <h2> Pintura na rua. </h2>

        <p> Venha participar de pinturas feitas em público!

          Você terá a chance de vivenciar uma experiência artística visual ao ar livre.
          O Museu Horizonte está oferecendo uma pequena aula e materiais para que qualquer
          pessoa interessada possa participar.

        </p>

        <a routerLink=""> Saiba mais. </a>

      </div>

    </div>

  </section>


  <section class="exposicaoSection">

    <h1>
      Como foram as últimas feiras?
    </h1>

    <a routerLink=""> Confire aqui! <span class="material-symbols-outlined">
      arrow_forward
    </span> </a>

  </section>



</article>
