@import "../../cores-principais.scss";
@import "../../functions.scss";


article {
  font-family: "Lexend", sans-serif;

  .firstSection {
    padding-top: 4vw;
    background-image: url("../../../assets/darkLibrary.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    clip-path: polygon(0 0, 0 100%, 27% 97%, 44% 86%, 65% 95%, 82% 86%, 100% 92%, 100% 18%, 77% 21%, 60% 6%, 33% 12%);



    div {
      height: 80%;
    }

    // @mixin mainText($corFonte, $tamanhoFonte, $pesoFonte) {
    //   font-size: $tamanhoFonte;
    //   color: $corFonte;
    //   font-weight: $pesoFonte;
    // }

    .text {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 1.5vw;
      background-color: rgba(0, 0, 0, 0.746);
      padding: 1vw;

      h1 {
        @include mainText($xBranco, 2vw, 600);
      }

      h2 {
        @include mainText($xBege, 1.5vw, normal);
      }

      p {
        @include mainText($xBege, 1.4vw, normal);
      }

      a {
        @include btnMoreInfo(rgb(255, 255, 255), rgba(0, 0, 0, 0.211), rgb(255, 255, 255)); //$corFonte, $corFundo, $corBorda
        width: 60%;
        text-align: center;
      }

      a:hover {
        @include btnMoreInfoHover(rgb(0, 0, 0), rgb(255, 255, 255), rgba(4, 4, 4, 0));
      }
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;


      img{
        width: 120%;
        height: 100%;
        object-fit: contain;
        overflow: hidden;
        border-radius: 3px;
       }
    }
  }

  .secondSection {
    padding-top: 4vw;
    background-color: $xBege;
    height: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 17%, 67% 6%, 45% 14%, 28% 3%);


    div {
      height: 80%;
    }

    // @mixin mainText($corFonte, $tamanhoFonte, $pesoFonte) {
    //   font-size: $tamanhoFonte;
    //   color: $corFonte;
    //   font-weight: $pesoFonte;
    // }

    .text {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 1.5vw;

      h1 {
        @include mainText($xMarromExtraEscuro, 2vw, 300);
      }

      h2 {
        @include mainText($xPreto, 1.5vw, normal);
      }

      p {
        @include mainText(black, 1.4vw, normal);
      }

      a {
        @include btnMoreInfo(black, rgba(241, 241, 241, 0), black); //$corFonte, $corFundo, $corBorda
        width: 60%;
        cursor: pointer;
        text-align: center;
      }

      a:hover {
        @include btnMoreInfoHover(white, black, rgba(244, 244, 244, 0));
      }
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;


      img{
        width: 120%;
        height: 100%;
        object-fit: contain;
        overflow: hidden;
        border-radius: 3px;
       }
    }
  }

}


@media screen and (max-width: 1250px)  {

  .firstSection, .secondSection {
    height: auto !important;
    clip-path: none !important;
    padding-bottom: 5vw;
    clip-path: polygon(100% 0, 100% 100%, 50% 95%, 0 100%, 0 0) !important;
    .text {
      width: 80% !important;
      display: flex;
      flex-direction: column;
      gap: 1.5vw;
      padding: 20px;

      h1 {
        font-size: 22px !important;
      }

      h2 {
        font-size: 16px !important;
      }

      p {
        font-size: 16px !important ;
      }

      a {
        font-size: 16px !important; //$corFonte, $corFundo, $corBorda
        width: 90% !important;
        cursor: pointer;
        text-align: center;
        font-size: 1.2em !important;
      }

      a:hover {
        @include btnMoreInfoHover(white, black, rgba(244, 244, 244, 0));
      }
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;


      img{
        width: 80% !important;
        height: 100%;
        object-fit: contain;
        overflow: hidden;
        border-radius: 3px;
       }
    }
  }

  .firstSection {
    .text {
    background-color: black !important;
    border-radius: 20px 0 0 20px;
    padding: 30px !important;
    }

    .image {
      img {
        width: 100% !important;
        height: 100% !important;
        margin-right: -20% !important;
      }
    }
  }

}

@media screen and (max-width: 550px)  {
  .firstSection {
    display: flex !important;
    flex-direction: column !important;
    height: auto !important;
    padding-bottom: 50px !important;

    .text {
      background-color: black !important;
      padding: 20px !important;
      margin-right: 10% !important;
      border-radius: 0 20px 0 20px !important;
    }

    .image {
      margin-bottom: -45%;
      margin-left: -90px;


    }
  }

  .secondSection {
    display: flex !important;
    flex-direction: column-reverse !important;
    clip-path: none !important;
    height: auto !important;
    padding-bottom: 50px !important;
    clip-path: polygon(100% 0, 100% 100%, 50% 95%, 0 100%, 0 0) !important;

    .text {
      background-color: white !important;
      padding: 20px !important;
      margin-right: 10% !important;
      border-radius: 0 20px 0 20px !important;
    }

    .image {
      margin-bottom: -40%;
      margin-left: -90px;

      img {
        width: 100% !important;
        height: 100% !important;
      }
    }

  }
}
