<article>

  <section class="firstSection">
    <div class="image">
      <img src="assets/arteLivro.png" alt="obra de Nildo Viana">
    </div>

    <div class="text">
      <h1> O sentido da arte. </h1>

      <p> Venha conferir uma exposição da obra "A esfera Artística" do autor Nildo Viana:
        "A arte, em minha concepção, é expressão figurativa da realidade,
        uma determinada forma de expressar a realidade, marcada pela figuração,
        o que remete ao reino da ficção."
      </p>


      <h2> Evento ocorrerá nos dias 12, 13 e 14, entre as 14h e 16h. </h2>

      <a routerLink=""> Comprar ingresso. </a>
    </div>
  </section>

  <section class="secondSection">

    <div class="text">
      <h1> A mercantilização das relações sociais. </h1>

      <p> Marque presença no debate sobre a mercantilização das relações sociais por Nildo Viana.
        "A mercantilização das relações sociais é um fenômeno real e concreto que atinge todos os indivíduos na sociedade moderna.
        Apesar de ser 'invisível' para algumas pessoas, ela é uma imposição social aos indivíduos."
      </p>


      <h2> Evento ocorrerá nos dias 19, 20 e 21, entre as 14h e 16h. </h2>

      <a routerLink=""> Comprar ingresso. </a>
    </div>

    <div class="image">
      <img src="assets/mercaRel.png" alt="obra de Nildo Viana">
    </div>
  </section>



</article>
