

<article>

  <section>


    <div class="image">
      <img src="assets/arteLivro.png" alt="obra de Nildo Viana">
    </div>



    <div class="text">
      <h1> O sentido da arte. </h1>

      <p> Venha conferir uma entrevista feita com o professor Nildo Viana sobre a arte:
        "A arte, em minha concepção, é expressão figurativa da realidade,
        uma determinada forma de expressar a realidade, marcada pela figuração,
        o que remete ao reino da ficção."
      </p>


      <h2> Evento ocorrerá nos dias 12, 13 e 14, entre as 14h e 16h. </h2>

      <a routerLink=""> Comprar ingresso. </a>
    </div>






  </section>


</article>
