<!-- <p>Sign Up works!</p> -->

<!-- Tive que colocar style aqui por não funciona no arquivo .scss-->
<section id="mainSignUp"> 
    <div id="signup">

        <form class="card">

            <div class="card-header">

                <h1>Cadastrar</h1>

            </div>

            <div class="card-content">

                <div class="card-content-area">

                    <label for="usuario">Usuário</label>

                    <input type="text" id="usuario" autocomplete="off">

                </div>

                <div class="card-content-area">

                    <label for="email">E-Mail</label>

                    <input type="text" id="email" autocomplete="off">

                </div>

                <div class="card-content-area">

                    <label for="password">Senha</label>

                    <input type="password" id="password" autocomplete="off">

                </div>

                <div class="card-content-area">

                    <label for="passwordConfirm">Confirmar Senha</label>

                    <input type="password" id="passwordConfirm" autocomplete="off">

                </div>

            </div>

            <div class="card-footer">

                <a type="button" class="nav-item" (click)="confirmSignup()" >Confirmar</a>
                <!---<a type="button" class="nav-item" routerLink="">Confirmar</a> Botão original para voltar a tela inicial-->

            </div>

        </form>

    </div>
</section>