<article>

  <section>

    <div class="text">

      <h1> CONFIRE AS NOVIDADES! </h1>

      <h2> Discussão sobre o significado do conjunto de obras "The Voyage of Life" de Thomas Cole </h2>

      <p> A mensagem por trás da alegoria da vida em cada obra da viagem da vida.
        A inocência da infância. A confiança e ambição da juventude.
        As tentativas e decepções da vida adulta. A chegada da morte na velhice.
      </p>

      <h3>
        Disponível nos dias 7, 8 e 9. Entre as 9h e 11h!
      </h3>

      <a routerLink=""> Comprar ingresso. </a>

    </div>

    <div class="image">

      <img src="assets/voyage.jpg" alt="coletânea de quadros de Thomas Cole">

    </div>

  </section>

  <app-debates-card> </app-debates-card>

</article>
