@import "../../cores-principais.scss";
@import "../../functions.scss";


article {
  font-family: "Lexend", sans-serif;

  section {
    background-image: url("../../../assets/livroEstudo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 45vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    clip-path: polygon(25% 99%, 35% 93%, 48% 95%, 60% 89%, 75% 94%, 84% 84%, 100% 89%, 100% 0, 66% 0, 0 0, 0 100%, 13% 94%);


    div {
      height: 80%;
    }

    .text {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 1.5vw;
      background-color: rgba(0, 0, 0, 0.746);
      padding: 1vw;

      h1 {
        font-size: 2vw;
        color: $xBege;
        margin-top: 2vw;
        font-weight: 300;
      }

      h2 {
        font-size: 1.5vw;
        margin-bottom: 1vw;
        font-weight: 600;
        color: white
      }

      h3 {
          @include mainText($xBege, 1.5vw, normal);
          font-weight: 700;
      }

      p {
        color: white;
        font-size: 1.4vw;
      }

      a {
        @include btnMoreInfo(rgb(255, 255, 255), rgba(0, 0, 0, 0.39), rgb(255, 255, 255)); //$corFonte, $corFundo, $corBorda
        width: 60%;
        cursor: pointer;
        text-align: center;
      }

      a:hover {
        @include btnMoreInfoHover(rgb(0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
      }
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;


      img{
        width: 90%;
        height: 90%;
        object-fit: contain;
        overflow: hidden;
        border-radius: 3px;
       }
    }
  }

}

@media screen and (max-width: 1250px) {

  article {
    font-family: "Lexend", sans-serif;

    section {
      background-color: $xBege;
      height: auto !important;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      padding-bottom: 10vw !important;
      padding-top: 5vw;
      clip-path: polygon(100% 0, 100% 100%, 50% 95%, 0 100%, 0 0) !important;


      div {
        height: 80%;
      }

      .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: black !important;
        gap: 1.5vw;
        padding-left: 15px;
        z-index: 2 !important;
        padding: 30px !important;
        margin-right: -30%;
        border-radius: 0 20px 20px 0;

        h1 {
          font-size: 22px;
          color: $xMarromEscuro;
          margin-top: 2vw;
          font-weight: 300;
        }

        h2 {
          font-size: 16px;
          margin-bottom: 1vw;
          font-weight: 600;
        }

        h3 {
          font-size: 16px;
        }

        p {
          font-size: 16px;
        }

        a {
          font-size: 16px; //$corFonte, $corFundo, $corBorda
          width: 50%;
          cursor: pointer;
          text-align: center;
        }

        a:hover {
          @include btnMoreInfoHover(white, black, rgba(244, 244, 244, 0));
        }
      }

      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;


        img{
          width: 100% !important;
          height: 100% !important;
          object-fit: contain;
          overflow: hidden;
          border-radius: 3px;
         }
      }
    }

  }

}

@media screen and (max-width: 900px) {
  section {
    display: flex !important;
    flex-direction: column !important;
    clip-path: none !important;
    height: auto !important;
    padding-bottom: 50px !important;
    padding-top: 20px !important;


    .text {
      width: 80% !important;
      height: auto;
      z-index: 2;
      background-color: black !important;
      padding: 20px !important;
      margin-right: 10% !important;
      border-radius: 20px 0 20px 0;


      h1 {
        font-weight: 600 !important;
      }

      a {
        width: 90% !important;
        font-size: 1.2em !important;
      }
    }

    .image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      width: 80%;
      margin-top: -30%;


      img{
        width: 90% !important;
        height: 90% !important;
        object-fit: contain;
        overflow: hidden;
        border-radius: 3px;
       }
    }
  }
}
