<!-- <p>login works!</p> -->

<!-- Tive que colocar style aqui por não funciona no arquivo .scss-->
<section id="mainLogin" style="background-image: url('../../../assets/museuClassico.jpg')"> 
    <div id="login">

        <form class="card">

            <div class="card-header">

                <h1>Cadastrar</h1>

            </div>

            <div class="card-content">

                <div class="card-content-area">

                    <label for="usuario">Usuário</label>

                    <input type="text" id="usuario" autocomplete="off">

                </div>

                <div class="card-content-area">

                    <label for="email">E-Mail</label>

                    <input type="email" id="email" autocomplete="off">

                </div>

                <div class="card-content-area">

                    <label for="password">Senha</label>

                    <input type="password" id="password" autocomplete="off">

                </div>

            </div>

            <div class="card-footer">

                <input type="submit" value="Login" class="nav-item" routerLink="/home">

                <input type="submit" value="Sign up" class="nav-item" routerLink="/home">

                <a href="#" class="recuperar_senha">Esqueceu a senha?</a>

            </div>

        </form>

    </div>
</section>