<app-carousel> </app-carousel>

<app-agenda> </app-agenda>

<section class="moreInfo">
  <div class="title">
    <h1>Descubra Novidades!!</h1>
  </div>

  <div class="imageDiv">
    <div class="infoBox">
      <div class="info">
        <h1>Venha conhecer mais sobre o nosso museu</h1>

        <p>
          Embarque em uma viagem pelo universo da arte e história em nosso
          museu. Explore exposições exclusivas, eventos especiais e curiosidades
          que trazem o passado à vida. Cada visita é uma nova aventura.
        </p>

        <a href="#" type="button"> Saiba Mais </a>
      </div>
    </div>
  </div>
</section>
