

<article>
    <div class="articleTitle">
      <h1>Nossa agenda</h1>
      <p>Confira o que acontecerá nesta semana!</p>
    </div>

    <div class="agenda">


      <div class="card" *ngFor="let item of cardInfo">

        <div class="dateDay">
          <h2>{{ item.dayOfMonth }}</h2>
          <p>{{ item.dayOfWeek }}</p>
        </div>

        <div class="cardInfo">
          <div class="text">
            <h2>{{ item.fullDate }}</h2>
            <p>
              {{ item.text }}
            </p>

            <a routerLink=""> Compre seu Ingresso! </a>

          </div>

          <div class="image">
            <img
              [ngSrc]="item.image"
              width="200"
              height="250"
              alt="Imagem referente ao evento do dia"
            />
          </div>
        </div>

      </div>

    </div>

  </article>
